@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: white;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

}

p{
    font-size: hsl(303, 10%, 53%);
}

.images{
    position: absolute;
}

.top-section{
    display: flex;
    position: relative;
    margin-bottom: 70px;

}

.left-content{
    flex-basis: 50%;
}

.rating-1{
    display: flex;
    padding: 15px;
    background: hsl(300, 24%, 96%);
    margin-bottom: 25px;
    margin-left: 30px;
    border-radius: 5px;
    margin-right: 80px;
}

.rating-1 img{
    padding-left: 10px;
}

.rating-2 img{
    padding-left: 10px;
}

.rating-3 img{
    padding-left: 10px;
}

.rating-1 p{
    padding-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
}

.rating-2 p{
    padding-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
    padding-right: 20px;
}

.rating-3 p{
    padding-left: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
    padding-right: 20px;
}

.rating-2{
    display: flex;
    padding: 15px;
    background: hsl(300, 24%, 96%);
    margin-bottom: 25px;
    margin-left: 70px;
    border-radius: 5px;
    margin-right: 40px;
}

.rating-3{
    display: flex;
    padding: 15px;
    background: hsl(300, 24%, 96%);
    margin-bottom: 25px;
    margin-left: 110px;
    border-radius: 5px;
}

.heading{
    font-size: 48px;
    color: hsl(300, 43%, 22%);
    padding-bottom: 20px;
}

.left-content p{
    color: hsl(303, 10%, 53%);
    font-size: 15px;
}

.bottom-section{
    display: flex;
}

.bottom-section p{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.bottom-section h5{
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.bottom-section h6{
    font-size: 15px;
    font-weight: 500;
    color: hsl(333, 80%, 67%);
}

.bottom-section img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.review-1, .review-2, .review-3{
    flex-basis: 33.33%;
    background: hsl(300, 43%, 22%);
    margin-right: 20px;
    padding: 50px 25px;
    border-radius: 10px;
    margin-bottom: 1.3rem;
	padding: 2rem;
}

.small-image1, .small-image2, .small-image3{
    display: flex;
    padding-bottom: 20px;
}

.small-content1, .small-content2, .small-content3{
    padding-left: 20px;
    padding-top: 5px;
}

.review-1{
    margin-bottom: 60px;
}

.review-2{
    margin-bottom: 30px;
    margin-top: 30px;
}

.review-3{
    margin-bottom: 0px;
    margin-top: 60px;
}
